<md-dialog class="form-zone" aria-label="Agregar Nuevo Dispositivo"  ng-cloak>
  <form name="deviceForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Agregar Nuevo Dispositivo</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vmDialog.cancel()">
          <md-icon md-svg-src="../../images/ic_close_white_64px.svg" aria-label="Close dialog" ng-click="vmDialog.cancel()"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <!--  INICIO DEL FORMULARIO  -->
          <div layout="row" layout-align="space-around center">
            <md-input-container  class="md-block" flex=30>
              <label>Nombre</label>
              <input ng-model="vmDialog.entity.nombre" ng-required="true">
            </md-input-container>
            <md-input-container  class="md-block" flex=30>
              <label>Descripción</label>
              <input ng-model="vmDialog.entity.descripcion">
            </md-input-container>
          </div>
          <div layout="row" layout-align="space-around center">
            <md-input-container class="md-block" flex=30>
              <label>Tipo</label>
              <md-select ng-model="vmDialog.entity.tipo" required>
                <md-option ng-repeat="type in vmDialog.tipoDevices" value="{{type.name}}">
                  {{type.name}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex=30>
              <label>Zona</label>
              <md-select ng-model="vmDialog.entity.idZona" required>
                <md-option ng-repeat="zone in vmDialog.areas" value="{{zone.nombre}}">
                  {{zone.nombre}} {{zone.descripcion?'-':''}} {{zone.descripcion}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <div class="line-division"></div>
          <div layout="row" layout-align="space-around center" style="margin-top: 30px;margin-bottom: 50px;">
            <div>
              <label>Tipo de conexión</label>
            </div>
            <md-radio-group ng-model="vmDialog.entity.Wifi" ng-change="vmDialog.clearInput()">
              <div class="row">
                <div flex layout='row' layout-padding layout-align="start center" style="max-height: 50px;">
                  <md-radio-button flex
                      ng-value="false"
                      class="md-primary" >Cableado</md-radio-button>
                  <div flex>
                    <md-input-container class="md-block">
                      <label>Pin</label>
                      <input ng-model="vmDialog.entity.pin" ng-disabled="vmDialog.entity.Wifi" ng-required="!vmDialog.entity.Wifi">
                    </md-input-container>
                  </div>
                </div>
                <div flex layout='row' layout-padding layout-align="start center" style="max-height: 50px;">
                  <md-radio-button flex
                      ng-value="true"
                      class="md-primary" >Wifi</md-radio-button>
                   <div flex>
                    <md-input-container class="md-block" >
                      <label>Nombre de Wifi</label>
                      <input ng-model="vmDialog.entity.nombreWifi" ng-disabled="!vmDialog.entity.Wifi" ng-required="vmDialog.entity.Wifi">
                    </md-input-container>        
                  </div>
                </div>
              </div>
            </md-radio-group>
            <md-divider></md-divider>            
          </div>
        <!--  FIN DEL FORMULARIO  -->
        <div class="line-division"></div> 
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="vmDialog.aceptar(deviceForm)" ng-disabled="deviceForm.$invalid">
       Aceptar
      </md-button>
      <md-button ng-click="vmDialog.cancel(deviceForm)" style="margin-right:20px;">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>