<md-dialog aria-label="Agregar Nuevo Dispositivo"  ng-cloak>
  <form name="deviceForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Agregar Nuevo Dispositivo</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vmDialog.cancel()">
          <md-icon md-svg-src="../../images/ic_close_white_64px.svg" aria-label="Close dialog" ng-click="vmDialog.cancel()"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <!--  INICIO DEL FORMULARIO  -->
          <div layout-gt-sm="row" layout-align="space-around center">
            <md-input-container  class="md-block" flex-gt-sm>
              <label>Nombre</label>
              <input ng-model="vmDialog.entity.nombre" ng-required="true">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Tipo</label>
              <md-select ng-model="vmDialog.entity.tipo" required>
                <md-option ng-repeat="type in vmDialog.tipoDevices" value="{{type.name}}">
                  {{type.name}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Zona</label>
              <md-select ng-model="vmDialog.entity.zona" required>
                <md-option ng-repeat="zone in vmDialog.areas" value="{{zone.nombre}}">
                  {{zone.nombre}} {{zone.descripcion?'-':''}} {{zone.descripcion}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <div layout-gt-sm="row" layout-align="space-around center">
            <md-input-container  class="md-block" flex-gt-sm>
              <label>Descripción</label>
              <input ng-model="vmDialog.entity.descripcion">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Pin</label>
              <md-select ng-model="vmDialog.entity.pin">
                <md-option ng-repeat="pin in vmDialog.pines" value="{{pin}}">
                  {{pin}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
        <!--  FIN DEL FORMULARIO  --> 
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="vmDialog.aceptar(deviceForm)">
       Aceptar
      </md-button>
      <md-button ng-click="vmDialog.cancel(deviceForm)" style="margin-right:20px;">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>