<md-dialog class="form-user" aria-label="Agregar Nuevo Dispositivo"  ng-cloak>
  <form name="deviceForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Agregar Nuevo Estado</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vmDialog.cancel()">
          <md-icon md-svg-src="../../images/ic_close_white_64px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <!--  INICIO DEL FORMULARIO  -->
        <div><h4>Nuevo Estado</h4></div>
        <div class="line-division"></div>
      	<div layout-gt-sm="row" layout-align="space-around center">
          <md-input-container  class="md-block" flex=40>
            <label>Nombre</label>
            <input ng-model="vmDialog.entity.nombre" ng-required="true">
          </md-input-container>
          <md-input-container  class="md-block" flex=40>
            <label>Descripción</label>
            <input ng-model="vmDialog.entity.descripcion" ng-required="true">
          </md-input-container>
        </div>
        <div ng-if="vmDialog.entity.configEstado.length > 0">
          <table class="table table-striped table-hover">
            <thead class="thead-inverse">
              <tr>
                  <th>Zona</th>
                  <th>Dispositivo</th>
                  <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="confState in vmDialog.entity.configEstado">
                <td>{{confState.zona}}</td>
                <td>{{confState.device}}</td>
                <td>{{confState.estado}}</td>
                <td>
                  <div class="icon-delete" ng-click="vm.deleteConf($index)">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div ng-if="vmDialog.showBtnNew" layout-gt-sm="row" layout-align="space-around center">
          <md-input-container  class="md-block" flex=40>
            <md-button ng-click="vmDialog.newDivece()">Nuevo</md-button>
          </md-input-container>
        </div>
        <div><h4>Configuración del Estado</h4></div>
        <div class="line-division"></div>
        <div ng-if="vmDialog.configState && !vmDialog.showBtnNew && !confDevice.exist" ng-repeat="confDevice in vmDialog.configState" layout-gt-sm="row" layout-align="space-around center">  
        	<md-input-container class="md-block" flex-gt-sm>
                <label>Zonas</label>
                <md-select ng-disabled="!vmDialog.entity.nombre" ng-model="confDevice.zona" ng-change="vmDialog.getDevicesForZona(confDevice.zona)" required>
                  <md-option ng-repeat="zone in vmDialog.areas" value="{{zone.nombre}}">
                  {{zone.nombre}}
                </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Dispositivos</label>
                <md-select ng-model="confDevice.device" ng-disabled="!confDevice.zona" required>
                  <md-option ng-repeat="device in vmDialog.devicesForZona" value="{{device.id}}">
                    {{device.id}}
                  </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>            
              <md-checkbox ng-disabled="!confDevice.zona" ng-model="confDevice.estado" aria-label="Checkbox 1">
          		Estado: {{ vmDialog.entity.estado?'Activado':'Desactivado' }}
        		  </md-checkbox>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>            
              <md-button ng-click="vmDialog.addDeviceToState(confDevice)">Añadir</md-button>
            </md-input-container>
        </div>
        <!--  FIN DEL FORMULARIO  --> 
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="vmDialog.aceptar(deviceForm)">
       Aceptar
      </md-button>
      <md-button ng-click="vmDialog.cancel(deviceForm)" style="margin-right:20px;">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>