<section>
	<div class="menu-tablas">
		<div class="menu-tablas-izq">
			<div class="menu-tablas-izq">
				<div class="icon-lg icon-shield icon-black"></div>
			</div>
			<div class="menu-tablas-der">
				<h3><span>Planes de contingencia</span></h3>	
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
	<div class="line-division"></div>
	<md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Corte de Luz</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
	        <div>
	        	<md-checkbox ng-model="vm.entity.notificaciones" aria-label="Checkbox 1">
	            Desea recibir notificaciones frente a cortes de luz : {{vm.entity.notificaciones?'Si':'NO'}}
	          </md-checkbox>
	          <p ng-if="vm.entity.notificaciones">Por favor selecciones a los usuarios que desea enviar les notificaciones.</p>
	        </div>
          	<div class="body-view" ng-if="vm.entity.notificaciones">
          		<div class="menu-tablas-izq">
					<div class="icon-lg icon-profile icon-black"></div>
				</div>
				<table class="table table-striped table-hover" >
					<thead class="thead-inverse">
						<tr>
							<th>DNI</th>
					    	<th>Nombre</th>
					    	<th>Apellido</th>
					    	<th>E-Mail</th>
					    	<th>Telefono</th>
					    	<th>Perfil</th>
					    	<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-class="[user.dni==vm.selectedUser.dni?'row-select':'']" ng-repeat="user in vm.entityUsers" ng-click="vm.selectUser(user)">
							<td>{{user.dni}}</td>
							<td>{{user.nombre}}</td>
							<td>{{user.apellido}}</td>
							<td>{{user.mail}}</td>
							<td>{{user.telefono}}</td>
							<td>{{user.perfil}}</td>
							<td><md-checkbox ng-model="user.notificaciones" aria-label="Checkbox 2"></md-checkbox></td>
						</tr>
					</tbody>			
				</table>
			</div>
			<div class="line-division"></div>
			<div class="body-view">
				<p>Por favor selecciones a los Dispositivos que desea activar ante un corte de luz.</p>
				<div class="menu-tablas-izq">
					<div class="icon-lg icon-device icon-black"></div>
				</div>
				<table class="table table-striped table-hover">
					<thead class="thead-inverse">
						<tr>
					    	<th>Nombre</th>
					    	<th>Número</th>
					    	<th>Tipo</th>
					    	<th>Zona</th>
					    	<th>Descripción</th>
					    	<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="device in vm.entityDevices" ng-class="[device.id==vm.selectedDevice.id?'row-select':'']" ng-click="vm.selectDevice(device)">
							<td>{{device.nombre}}</td>
							<td>{{device.numero}}</td>
							<td>{{device.tipo}}</td>
							<td>{{device.idZona}}</td>
							<td>{{device.descripcion}}</td>							
							<td>
								<td><md-checkbox ng-model="device.contingencia" aria-label="Checkbox 2"></md-checkbox></td>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="vm.showAdvanced($event)">Guardar</md-button>
        </md-card-actions>
      </md-card>
</section>
