<section>
	<div>
		<h3>Devices</h3>
	</div>
	<div>
		<table class="table table-striped table-hover">
			<thead class="thead-inverse">
				<tr>
					<th>#ID</th>
			    	<th>Name</th>
			    	<th>Number</th>
			    	<th>Type</th>
			    	<th>Zona</th>
			    	<th>State</th>
			    	<th>Pin</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>d1</td>
					<td>n2</td>
					<td>t2</td>
					<td>z2</td>
					<td>s0</td>
					<td>p0</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>d1</td>
					<td>n2</td>
					<td>t2</td>
					<td>z2</td>
					<td>s0</td>
					<td>p0</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>d1</td>
					<td>n2</td>
					<td>t2</td>
					<td>z2</td>
					<td>s0</td>
					<td>p0</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>