

<section class="home-section">
	<div class="menu-tablas">
    <div class="menu-tablas-izq">
      <div class="menu-tablas-izq">
        <div class="icon-lg-ext icon-home icon-color-hb"></div>
      </div>
      <div class="menu-tablas-der">
        <h3><span>BIENVENIDO A HOME BERRY</span></h3> 
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <div class="line-division"></div>
  <div style="margin-top: 10px;margin-bottom: 10px;">
		<div class="circulo-home">
			<md-icon md-svg-src="images/logoD.svg" class="icon-home-hb"></md-icon>
		</div>
	</div>
  <div class="body-view">
	<div><h2>¿Qué es HomeBerry?</h2></div>
	<div><p>HomeBerry es un sistema de domótica (La domótica es la tecnología que convierte la casa en un espacio inteligente y automatizado, capaz de optimizar recursos).
	</p>
	<p>
		Es un sistema que permite controlar tu hogar desde el celular a través de una aplicación de mensajería instantánea (Por ejemplo: WhatsApp y Telegram). Una vez instalado HB en el hogar podras agregar a tu sistema de HB como un contacto mas en tu celular, luego podras mandar mensajes con instrucción, HB las ejecuta sobre todos los dispositivos que esten conectados a tu sistema.
		HomeBerry puede controlar desde  simples luces, Portones eléctricos, persianas, Calefacción, hasta el control de un sistema de Alarmas y Cámaras de seguridad.
	</p>
	<p>
		Una de la caracteristicas mas interesante que trae de HomeBerry es que los dispositivos conectados pueden comunicarse a traves de wifi, sin la necesidad de cablear.
	</p>
	</div>
  </div>
</section>
<section class="home-section">
	<div layout="row" layout-align="space-around center">
		<div flex=30>
			<div layout="column" layout-align="space-around center">
				<div>
					<md-icon md-svg-src="images/rayo-tachado.svg" class="icon-intro icon-intro-color-one"></md-icon>
				</div>
			</div>
		</div>
		<div flex=30>
			<div layout="column" layout-align="space-around center">
				<div>
					<md-icon md-svg-src="images/seguridad-new.svg" class="icon-intro icon-intro-color-two"></md-icon>
				</div>
			</div>
		</div>
		<div flex=30>
			<div layout="column" layout-align="space-around center">
				<div>
					<md-icon md-svg-src="images/wifi.svg" class="icon-intro icon-intro-color-three"></md-icon>
				</div>
			</div>
		</div>	
	</div>
	<div layout="row" layout-align="space-around center">
		<div flex=30>
			<div layout="column" layout-align="space-around center">	
				<div>
					<h3>Ahorro de energía</h3>
				</div>
			</div>
		</div>
		<div flex=30>
			<div layout="column" layout-align="space-around center">
				<div>
					<h3>Seguridad</h3>
				</div>
			</div>
		</div>
		<div flex=30>
			<div layout="column" layout-align="space-around center">
				<div>
					<h3>Confort</h3>
				</div>
			</div>
		</div>
	</div>
	<div layout="row" layout-align="space-around start">
		<div flex=30>
			<div layout="column" layout-align="start center">	
				<div>
					<p>Con HomeBerry cuenta con el modulo PowerMagnament, el cual garantiza y proporciona un 30% de ahorro de energía.</p>
				</div>
			</div>
		</div>
		<div flex=30>
			<div layout="column" layout-align="start center">
				<div>
					<p>El modulo HomeSafty le proporciona a HomeBerry la posibilidad detectar la presencia de un intruso en la casa, avisarnos inmediatamente a cualquiera de nuestras aplicaciones de mensajeria instantanea. ademas de activar todas las herramientas de seguridad, como la alarma sonora, mantener una grabación de lo sucedido.</p>
				</div>
			</div>
		</div>
		<div flex=30>
			<div layout="column" layout-align="start center">
				<div>
					<p>Nuestro modulo de confort nos permite manipular la casa de manera remota, desde cualquier aplicacion de mensajeria instantenea como puede ser whatsApp o Telegram. se puede enviar mensajes de texto y voz. Esto hace que HomeBerry se transforme un una herramienta facil de usar.</p>
				</div>
			</div>
		</div>
	</div>
</section>