

<section>
	<!--div class="principalIcon">
		<span><img src="../images/logoC.svg"></span>
	</div-->
	<div class="menu-tablas">
    <div class="menu-tablas-izq">
      <div class="menu-tablas-izq">
        <div class="icon-lg-ext icon-home icon-color-hb"></div>
      </div>
      <div class="menu-tablas-der">
        <h3><span>BIENVENIDO A HOME BERRY</span></h3> 
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <div class="line-division"></div>
  <div class="body-view">
	<div><h2>¿Quienes es Home Berry?</h2></div>
	<div>Descripción</div>
  </div>

</section>
<section>
	<h3>
		Ultimas Actividades
	</h3>
	<div>
		<table>
			<thead></thead>
			<tbody></tbody>
		</table>
	</div>
</section>