

<section>
	<!--div class="principalIcon">
		<span><img src="../images/logoC.svg"></span>
	</div-->
	<div class="menu-tablas">
    <div class="menu-tablas-izq">
      <div class="menu-tablas-izq">
        <div class="icon-lg-ext icon-home icon-color-hb"></div>
      </div>
      <div class="menu-tablas-der">
        <h3><span>BIENVENIDO A HOME BERRY</span></h3> 
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <div class="line-division"></div>
  <div style="margin-top: 10px;margin-bottom: 10px;">
		<div class="circulo-home">
			<md-icon md-svg-src="images/logoD.svg" class="icon-home-hb"></md-icon>
		</div>
	</div>
  <div class="body-view">
	<div><h2>¿Qué es Home Berry?</h2></div>
	<div><p>HomeBerry es un sistema de domótica (La domótica es la tecnología que convierte la casa en un espacio inteligente y automatizado, capaz de optimizar recursos).
	</p>
	<p>
		Es un sistema que permite controlar tu hogar desde el celular a través de una aplicación de mensajería instantánea (Por ejemplo: WhatsApp y Telegram). Una vez instalado HB en el hogar podras agregar a tu sistema de HB como un contacto mas en tu celular, luego podras mandar mensajes con instrucción, HB las ejecuta sobre todos los dispositivos que esten conectados a tu sistema.
		HomeBerry puede controlar desde  simples luces, Portones eléctricos, persianas, Calefacción, hasta el control de un sistema de Alarmas y Cámaras de seguridad.
	</p>
	<p>
		Una de la caracteristicas mas interesante que trae de HomeBerry es que los dispositivos conectados pueden comunicarse a traves de wifi, sin la necesidad de cablear.
	</p>
	</div>





  </div>

</section>
<section>
	<h3>
		Ultimas Actividades
	</h3>
	<div>
		<table>
			<thead></thead>
			<tbody></tbody>
		</table>
	</div>
</section>