<section>
	<div class="menu-tablas">
		<div class="menu-tablas-izq">
			<div class="menu-tablas-izq">
				<div class="icon-lg icon-build icon-black"></div>
			</div>
			<div class="menu-tablas-der">
				<h3><span>Estados</span></h3>	
			</div>
		</div>
		<div class="menu-tablas-der">
			 <md-button class="md-raised md-primary" ng-click="vm.showAdvanced($event)">Agregar</md-button>
		</div>
		<div style="clear:both;"></div>
	</div>
	<div class="line-division"></div>
	<div class="body-view">
		<table class="table table-striped table-hover">
			<thead class="thead-inverse">
				<tr>
			    	<th>Nombre</th>
			    	<th>Descripción</th>
			    	<th>Cantidad de dispositivos</th>
			    	<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-class="[state.nombre==vm.selectedState.nombre?'row-select':'']" ng-repeat="state in vm.entity" ng-click="vm.selectState(state)">
					<td>{{state.nombre}}</td>
					<td>{{state.descripcion}}</td>
					<td>{{state.cantDevices}}</td>
					<td>
						<div class="icon icon-delete icon-red" ng-click="vm.deleteState(state,$index)">
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<md-card ng-if="vm.selectedState">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Estado: {{vm.selectedState.nombre}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
        	<p>{{vm.selectedState.descripcion}}</p>
          <table class="table table-striped table-hover">
            <thead class="thead-inverse">
              <tr>
                  <th>Zona</th>
                  <th>Dispositivo</th>
                  <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="confState in vm.selectedState.configEstado">
                <td>{{confState.zona}}</td>
                <td>{{confState.device}}</td>
                <td>
                	<div ng-class="[confState.estado?'icon icon-device icon-black icon-device-on':'icon icon-device icon-black icon-device-off']"></div>
                </td>
              </tr>
            </tbody>
          </table>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="vm.showAdvanced($event)">Editar</md-button>
        </md-card-actions>
      </md-card>
</section>
