<section>
	<div class="menu-tablas">
		<div class="menu-tablas-izq">
			<div class="menu-tablas-izq">
				<div class="icon-lg icon-profile icon-black"></div>
			</div>
			<div class="menu-tablas-der">
				<h3><span>Usuarios y Perfiles</span></h3>	
			</div>
		</div>
		<div class="menu-tablas-der">
			 <md-button class="md-raised md-primary" ng-click="vm.showAdvanced($event)">Agregar</md-button>
		</div>
		<div class="menu-tablas-der">
			 <md-button class="md-raised md-primary" ng-click="vm.showAdvanced($event)" ng-disabled="!vm.selectedUser">Editar</md-button>
		</div>
		<div style="clear:both;"></div>
	</div>
	<div class="line-division"></div>
	<div class="body-view">
		<table class="table table-striped table-hover">
			<thead class="thead-inverse">
				<tr>
					<th>DNI</th>
			    	<th>Nombre</th>
			    	<th>Apellido</th>
			    	<th>E-Mail</th>
			    	<th>Telefono</th>
			    	<th>Perfil</th>
			    	<th>TC</th>
			    	<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-class="[user.dni==vm.selectedUser.dni?'row-select':'']" ng-repeat="user in vm.entity" ng-click="vm.selectUser(user)">
					<td>{{user.dni}}</td>
					<td>{{user.nombre}}</td>
					<td>{{user.apellido}}</td>
					<td>{{user.mail}}</td>
					<td>{{user.telefono}}</td>
					<td>{{user.perfil}}</td>
					<td>{{user.tc.id}}</td>
					<td>
						<div class="icon icon-delete icon-red" ng-click="vm.deleteUser(user)">
						</div>
					</td>
				</tr>
			</tbody>			
		</table>
	</div>
</section>
